        body {
            background-color: #E8DFCA;
            margin: 0;
            font-size: 16px;
            font-family: monospace;
            color: #4F6F52;
        }

        header {
            background-color: #4F6F52;
            padding: 40px;
            font-size: 28px;
            text-align: center;
            color: white;
        }

        .left {
            margin: 20px;
        }

        .button {
            border-radius: 7px;
            height: 100%;
            width: 150px;
            padding: 6px;
            font-size: 16px;
            font-family: monospace;
            border: 1px #4F6F52 ridge;
            background-color: #F5EFE6;
            transition-duration: 0.3s;
            box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
            margin: 10px;
        }

        .button:hover {
            background-color: #4F6F52;
            color: white;
        }

        .circle {
            border-radius: 50%;
            background-color: #F5EFE6;
            height: 30px;
            width: 30px;
            display: inline-block;
            border: 1px #4F6F52 groove;
            box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            margin: 10px;
        }

        .edge {
            background-color: #F5EFE6;
            height: 3px;
            width: 40px;
            display: inline-block;
            border: 1px #4F6F52 groove;
            box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
            margin-right: 10px;
        }

        #resultMatrix {
            margin-top: 20px;
        }
